:root {
  --header-height: 70px;
  --aside-width: 70px;
}
header {
  height: var(--header-height);
}
header img:first-child {
  height: 50px;
}
main img {
  width: 30px;
} 
aside {
  width: var(--aside-width);
  background-color: #061E34;
  background-image: url(../img/sidebar-bg.png);
}